/depots_problem.pddl/
/archive/old_tester
/archive/
/.idea
/probs/untyped_probs/rover/test_probs
/probs/untyped_probs/rover/learn_probs
/probs/untyped_probs/depots/learn_probs
/probs/untyped_probs/depots/test_probs
/probs/untyped_probs/satellite/learn_probs
/probs/untyped_probs/satellite/test_probs
/satellite_typed/test_probs
/satellite_typed/learn_probs


*.log
/IPC3

/downward-release-22.06.0/
/soplex-release-710/
/VAL/
